.login {
    /* background: url('/assets/img/AlconLoginBackground.jpg'); */
    background-size: cover;
    background-repeat:no-repeat;
    height: 100vh;
    overflow: hidden;
   /*  background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0%;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 40px #7ca3dc; */ 
}

.image{
    /*border: 1px solid #ccc;*/
    width:96%; 
    padding-bottom: 30%;
}

.margin-bottom{
    margin-bottom: 0% !important;
}
.text-align{
text-align: right;
}
.container {
    padding: 6%;  
    max-width: 100%;
}
.heading{
    color: #0460A9;
    text-align: center;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    padding-bottom: 5%;
}
.info{
    color: grey;
    text-align: center;
    font-size: 15px;
    font-family: 'Verdana';
    padding-bottom: 20%;
}
.label{
    color: grey;
    font-size: 15px;
    font-family: 'Verdana';
}
.margin{
    /* margin-top: 10%;
    margin-left: 65%;
    margin-right: 2%;
    margin-bottom: 20%; */
    margin-top: 50%;
    /* margin-left: -10%; */     
}
.paddingmargin{
    padding-right: 5%;
}
button {
    background-color: #0460A9;
    color: white;
    padding: 8px 22px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: auto;
    font-family: 'Verdana';
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}
input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
